In [1]:
from sklearn.preprocessing import OneHotEncoder
import numpy as np
import pandas as pd
import matplotlib.pyplot as mp
import seaborn as sns

In [5]:
df = sns.load_dataset('tips')

In [6]:
dummy = pd.get_dummies(df)

     total_bill   tip  size  ...  day_Sun  time_Lunch  time_Dinner
0         16.99  1.01     2  ...     True       False         True
1         10.34  1.66     3  ...     True       False         True
2         21.01  3.50     3  ...     True       False         True
3         23.68  3.31     2  ...     True       False         True
4         24.59  3.61     4  ...     True       False         True
..          ...   ...   ...  ...      ...         ...          ...
239       29.03  5.92     3  ...    False       False         True
240       27.18  2.00     2  ...    False       False         True
241       22.67  2.00     2  ...    False       False         True
242       17.82  1.75     2  ...    False       False         True
243       18.78  3.00     2  ...    False       False         True

[244 rows x 13 columns]